<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form id="login">
        <h1>Login</h1>
        <label for="email">Email: *</label>
        <input id="email" type="email" placeholder="Email">
        <label for="email">Email: *</label>
        <input id="password" type="password" placeholder="Password">
        <input type="submit" value="Send">
    </form>

    <div class="container">
       <h3>Creat New Account</h3>
        <a href="/signup">Go to Signup</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('login').addEventListener('submit', async (event) => {
                event.preventDefault();
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }, 
                    body: JSON.stringify({ email, password })
                });
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    alert('Invalid User or Email');
                }
            });
        });
    </script>
</body>
</html>